
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 103%;
}

html, body { width:100%; height:100%; }

canvas { display:block; }

li {
  list-style: none;
}

#scoreboard {
  position: absolute;
  width: 150px;
  top: 10px;
  right: 10px;
  padding: 10px 0px;
  background: rgba(200, 200, 200, 0.7);
}

.team {
  margin: 5px;
}

.colorbox {
  width: 50px;
  height: 20px;
}

.points {
  width: 50px;
  height: 20px;
  text-align: center;
}
